
<h1> Romeocute Login</h1>

<form action="/admin/login" method="post">
  <input type="text" name="usuario" placeholder="Usuario" required>
  <input type="password" name="password" placeholder="Contraseña" required>
  <button type="submit">Entrar</button>
</form>
{{#if error}}
  <p style="color:red;">Usuario o contraseña incorrectos</p>
{{/if}}
